html {
	all: unset;
	font-size: 15px;
	font-family: 'FreeSans', 'Segoe UI','Arial','Trebuchet MS','Helvetica','Sans Serif','sans-serif';
	box-sizing: border-box;
	min-height: 100%;
}
*, *:before, *:after {
	font-size: inherit;
	font-family: inherit;
	box-sizing: inherit;
}
:focus { outline: none; }
body { margin: 0; }
img { border: 0; vertical-align: middle; }
hr { border: 0; height: 0; margin: 12px 0; padding: 0; }
label { cursor: pointer; }
p { margin: 12px 0; }
h1 { font-size: 24px; margin: 12px 0; font-weight: normal; }
h2 { font-size: 18px; margin: 12px 0; font-weight: normal; }
h3 { font-size: 16px; margin: 12px 0; font-weight: normal; }
h4 { font-size: 14px; margin: 12px 0; font-weight: normal; }
h5 { font-size: 12px; margin: 12px 0; font-weight: normal; }
h6 { font-size: 12px; margin: 12px 0; font-weight: normal; }
.cmd { cursor: pointer; }
.tdiv { border-collapse: collapse; }
.tdiv td { padding: 0; }
.pad { padding: 12px; }
.padh { padding-left: 12px; padding-right: 12px; }
.padv { padding-top: 12px; padding-bottom: 12px; }
.mar { margin: 12px; }
.marh { margin-left: 12px; margin-right: 12px; }
.marv { margin-top: 12px; margin-bottom: 12px; }
.nomar { margin: 0; }
.nomarv { margin-top: 0; margin-bottom: 0; }
.nomarh { margin-left: 0; margin-right: 0; }
.sangria { margin-left: 16px; }
.tab1 { margin-left: 16px; }
.tab2 { margin-left: 32px; }
.tab3 { margin-left: 48px; }
.tab4 { margin-left: 64px; }
.show { display: block; }
.hide { display: none; }
.visible { visibility: visible; }
.hidden { visibility: hidden; }
.nowrap { white-space: nowrap; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }
.pointer { cursor: pointer; }
.scroll,
.scrollx,
.scrolly,
.scrollxy {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.scrollx { overflow-x: scroll; }
.scrolly { overflow-y: scroll; }
.scrollxy { overflow: scroll; }
.template { position: absolute; top: 0; left: 0; display: none; float: left; }
.nolist { list-style-type: none; margin: 0; padding: 0; }
.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }
.ajustify { text-align: justify; }
.vtop { vertical-align: top; }
.vmiddle { vertical-align: middle; }
.vbottom { vertical-align: bottom; }
.vbaseline { vertical-align: baseline; }
.block { display: block; }
.inline { display: inline; }
.iblock { display: inline-block; }
.opacity0 { opacity: 0; }
.opacity1 { opacity: 1; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.flex { display: flex; }
.flex-around { justify-content: space-around; }
.flex-between { justify-content: space-between; }
.flex-items-center { align-items: center; }
.fill { flex: 1; }
.full { width: 100%; }
.mtable {
	border: 0;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.mtable>tr>th,
.mtable>tr>td,
.mtable>*>tr>th,
.mtable>*>tr>td { margin: 0; padding: 0; }
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}
#xpage {
	position: absolute;
	width: 100%;
	height: 100%;
}
@media not print { .print { display: none !important; } }
@media print { .noprint { display: none !important; } }
